@model AgenciaViajes.Models.Hotel

@{
    ViewData["Title"] = "Crear";
}

<h1>Agregar hotel</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">País</label>
                <select id="PaisSelect" class="form-control" asp-items="ViewBag.PaisOrigen">
                    <option value="">Seleccione una opción...</option>
                </select>

            </div>
            <div class="form-group">
                <label class="control-label">Provincia</label>
                <select id="ProvinciaSelect" class="form-control" asp-items="ViewBag.ProvinciaOrigen">
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Provincia" id="Provincialabel" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#ProvinciaSelect").empty();
        $(document).ready(function () {
            $("#PaisSelect").change(function () {
                var selectedPais = $("#PaisSelect").val();
                $("#ProvinciaSelect").empty(); // Limpia el select de provincias

                // Realiza una solicitud AJAX al servidor para obtener las provincias correspondientes al país seleccionado
                $.get("/Hotels/GetProvincias", { pais: selectedPais }, function (data) {
                    $("#ProvinciaSelect").append($('<option></option>').val(" ").html("Seleccione una opcion..."));
                    $.each(data, function (key, value) {

                        $("#ProvinciaSelect").append($('<option></option>').val(value).html(value));

                    });
                });
            });
        });

    </script>
    <script>
        $("#ProvinciaSelect").change(function () {
            var selectedProvincia = $("#ProvinciaSelect").val();
            $('#Provincialabel').val(selectedProvincia);
        });
    </script>
}
