@model AgenciaViajes.Models.Thabitacion

@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdHotel" class="control-label">Hotel</label>
                <select asp-for="IdHotel" class="form-control" asp-items="ViewBag.IdHotel">
                    <option value="">Seleccionar...</option> <!-- Opción nula (null) -->

                </select>
            </div>
            <div class="form-group">
                <label asp-for="TipoHabitacion" class="control-label">Tipo de habitación</label>
                <input asp-for="TipoHabitacion" class="form-control" />
                <span asp-validation-for="TipoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habitacion" class="control-label">Habitación</label>
                <input asp-for="Habitacion" class="form-control" />
                <span asp-validation-for="Habitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label">Cantidad de personas</label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
