@model AgenciaViajes.Models.Aerolinea

@{
    ViewData["Title"] = "Deshabilitar";
}

<h1>Deshabilitar</h1>

<h3>¿Seguro que deseas deshabilitar?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Aerolínea
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aerolinea1)
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoNavigation.Estado1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAerolinea" />
        <input type="submit" value="Deshabilitar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
