
@{
    Layout = "_Layoutvendedor";
}



<div class="text-center">
    <h1 class="display-4">Gestor de ventas</h1>
    <br>
    <img src="https://blog.fmb.mx/hubfs/marketing-digital-para-agencia-de-viajes-consultoria-cdmx-fmb-2021.png" class="" style="max-width: 900px"  alt="...">
</div>

