@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestor de datos para Agencia de Viajes</h1>
    <br>
    <img src="https://blog.fmb.mx/hubfs/marketing-digital-para-agencia-de-viajes-consultoria-cdmx-fmb-2021.png" class="" style="max-width: 900px"  alt="...">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

